# Required
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
MONAD_RPC_URL=https://testnet-rpc.monad.xyz
RECEIVER_ADDRESS=0xYOUR_RECEIVER_WALLET_ADDRESS_HERE
PAYER_PRIVATE_KEY=0xYOUR_PAYER_PRIVATE_KEY_HERE

# Optional
# TOKEN_ADDRESS=0xf817257fed379853cDe0fa4F97AB987181B1E5Ea  # USDC on Monad testnet
